{# Default page template used for blog contents #}

{% extends "page.html" %}

{% block seo %}
  {# This value is matched by the config.extra.menu.main->section #}
  {% set_global current_section = 'blog' %}
  {{ super() }}
{% endblock seo %}

{% block body %}
  {% set page_class = "blog single" %}
{% endblock body %}

{% block header %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      {{ macros_toc::docs_toc(page=page) }}
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
          <div class="blog-header">
            <h1>{{ page.title }}</h1>
            {{ macros_publish::page_publish_metadata(page=page) }}
          </div>
          {% if page.extra.lead %}<p class="lead">{{ page.extra.lead | safe }}</p>{% endif %}
          {{ page.content | safe }}
        </article>
        <!-- <script
          src="https://utteranc.es/client.js"
          repo="nafkhanzam/web-zola"
          issue-term="{{ current_path }}"
          label="✨💬✨"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script> -->
        <div id="comments">
          <script>
            // load utteranc comment
            let theme = localStorage.getItem("theme") === 'dark' ? 'github-dark' : 'github-light';
            let s = document.createElement('script');
            s.src = 'https://utteranc.es/client.js';
            s.setAttribute('repo', "nafkhanzam/web-zola");
            s.setAttribute('issue-term', "{{ current_path }}".replaceAll("&#x2F;", "/"));
            s.setAttribute('theme', theme);
            s.setAttribute('crossorigin', 'anonymous');
            s.setAttribute('async', '');
            document.querySelector('div#comments').innerHTML = '';
            document.querySelector('div#comments').appendChild(s);
    
            // auto swith utteranc theme by body class change
            const mutationObserver = new MutationObserver((mutationsList, observer) => {
                mutationsList.forEach(mutation => {
                    if (mutation.attributeName === "class") {
                        if (document.querySelector('.utterances-frame')) {
                            const theme = mutation.target.classList.contains("dark") ? 'github-dark' : 'github-light'
                            const message = {
                                type: 'set-theme',
                                theme: theme
                            };
                            const iframe = document.querySelector('.utterances-frame');
                            iframe.contentWindow.postMessage(message, 'https://utteranc.es');
                        }
                    }
                })
            });
            mutationObserver.observe(document.body, { attributes: true });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
